{#
/**
 * @file
 * Overriden theme implementation for main view template.
 *
 * Adds variables for classes with fallback classes that are overwritable in
 * preprocess. Exposed filters and Attachment afters pull right.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'row',
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
{%
  set sidebar = exposed or attachment_after ? true : false
%}
{%
  set header_classes = header_classes ?: [
  'col-sm-12',
  'view-header',
]
%}
{%
  set exposed_classes = exposed_classes ?: [
  'col-md-4',
  'col-sm-12',
  'pull-right',
  'view-filters',
  'form-group',
]
%}
{%
  set attachment_before_classes = attachment_before_classes ?: [
  sidebar ? 'col-md-8',
  'col-sm-12',
  'attachment',
  'attachment-before',
]
%}
{%
  set rows_classes = rows_classes ?: [
  sidebar ? 'col-md-8',
  'col-sm-12',
  'view-content',
]
%}
{%
  set empty_classes = empty_classes ?: [
  sidebar ? 'col-md-8',
  'col-sm-12',
  'view-empty',
]
%}
{%
  set attachment_after_classes = attachment_after_classes ?: [
  'col-md-4',
  'col-sm-12',
  'pull-right',
  'attachment',
  'attachment-after',
]
%}
{%
  set pager_classes = pager_classes ?: [
  sidebar ? 'col-md-8',
  'col-sm-12',
  'view-pager',
]
%}
{%
  set footer_classes = footer_classes ?: [
  'col-sm-12',
  'view-footer',
]
%}
{%
  set feeds_icons_classes = feed_icons_classes ?: [
  'feed_icons',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% block title %}
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}
  {% endblock %}

  {% block header %}
    {% if header %}
      <div {{ create_attribute({'class': header_classes}) }}>
        {{ header }}
      </div>
    {% endif %}
  {% endblock %}

  {% block exposed %}
    {% if exposed %}
      <div {{ create_attribute({'class': exposed_classes}) }}>
        {{ exposed }}
      </div>
    {% endif %}
  {% endblock %}

  {% block attachment_before %}
    {% if attachment_before %}
      <div {{ create_attribute({'class': attachment_before_classes}) }}>
        {{ attachment_before }}
      </div>
    {% endif %}
  {% endblock %}

  {% block rows %}
    {% if rows %}
      <div {{ create_attribute({'class': rows_classes}) }}>
        {{ rows }}
      </div>
    {% elseif empty %}
      <div {{ create_attribute({'class': empty_classes}) }}>
        {{ empty }}
      </div>
    {% endif %}
  {% endblock %}

  {% block attachment_after %}
    {% if attachment_after %}
      <div {{ create_attribute({'class': attachment_after_classes}) }}>
        {{ attachment_after }}
      </div>
    {% endif %}
  {% endblock %}

  {% block pager %}
    {% if pager %}
      <div {{ create_attribute({'class': pager_classes}) }}>
        {{ pager }}
      </div>
    {% endif %}
  {% endblock %}

  {% block more %}
    {% if more %}
      {{ more }}
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if footer %}
      <div {{ create_attribute({'class': footer_classes}) }}>
        {{ footer }}
      </div>
    {% endif %}
  {% endblock %}

  {% block feed_icon %}
    {% if feed_icons %}
      <div {{ create_attribute({'class': feeds_icons_classes}) }}>
        {{ feed_icons }}
      </div>
    {% endif %}
  {% endblock %}
</div>
