{#
/**
 * @file
 * Overriden theme implementation to display a view of unformatted rows.
 * Remove the div altogether if default_row_class is false.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% set title_wrapper = title_wrapper ?: 'h3' %}

{% if title %}
  <{{ title_wrapper }}>{{ title }}</{{ title_wrapper }}>
{% endif %}
{% for row in rows %}
  {% if default_row_class %}
    <div{{ row.attributes.addClass('views-row') }}>
  {% endif %}
    {{ row.content }}
  {% if default_row_class %}
    </div>
  {% endif %}
{% endfor %}
