{#
/**
 * @file
 * Overriden theme implementation for a viewfield.
 * We do not need/want to wrap this as a field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the viewfield items.
 * - entity: The entity to which the field belongs.
 * - entity_type: The entity type to which the field belongs.
 * - bundle: The entity bundle to which the field belongs.
 * - field_name: The name of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_viewfield()
 */
#}

{% for item in items %}
  {{ item }}
{% endfor %}
