{#
/**
 * @file
 * Theme override for page titles.
 *
 * This template will only render a page title if it is not already handled by
 * Display Suite within the entity layout. A views page display is an example of
 * a page that will use this template to render the page title.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - rendered_by_ds: Whether or not display suite is handling the page title.
 *   TODO: the logic for this variable still needs work.
 *   @see: https://jira.messageagency.com/browse/SD-417
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}

{% if rendered_by_ds != TRUE %}
  {% if title %}
    {# Removed .page-header from default #}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
  {% endif %}
{% endif %}
