{#
/**
 * @file
 * Theme override to display a single page.
 *
 * This override accomodates the regions defined in ma_bootstrap.info.yml. These
 * regions should support common Message Agency designs, though not every site
 * will make use of every region or use this template as is. It is expected that
 * each site will have it's own subtheme which may extend or overwrite this
 * template if necessary.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_bar: Items for the Top Bar region.
 * - page.branding: Site branding, packaged with the navigation.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.hero: Items for the hero region.
 * - page.help: Dynamic help text, mostly for admins.
 * - page.admin_bar: Admin items like local tasks and such.
 * - page.preface_first: Items for the preface first region, above the title.
 * - page.title: Page title, often not supplied if rendered by the page controller.
 * - page.preface_second: Items for the preface second region, below the title.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.content: The main content of the current page.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.postscript: Items for the postscript region.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Top Bar #}
{% if page.top_bar %}
  {% block top_bar %}
    <div class="top-bar-container full-bleed">
      <div class="{{ container }}">
        <div class="row">
          {{ page.top_bar }}
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Navbar #}
{% if page.navigation or page.navigation_collapsible or page.navigation_supplemental or page.branding %}
  {% block navbar %}
    {% set navbar_classes = [
      'navbar',
      theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
      theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
    ] %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
      <div class="{{ container }}">
        {% endif %}
        <div class="row col-sm-12">

          {% block navbar_header %}
          <div class="navbar-header">
            {# Branding #}
            {# theme suggestion: region__no_wrapper #}
            {% if page.branding %}
              {{ page.branding }}
            {% endif %}
          </div>
          {% endblock %}

          {% block navbar_navigation %}
          {{ page.navigation }}

          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            {# Wrapper for the mobile menu toggle #}
            <div class="mobile-button-wrap">
              <button class="navbar-toggle hamburger hamburger--squeeze" type="button" data-toggle="collapse"
                      data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
                <span class="menu-text">{{ 'Menu'|t }}</span>
              </button>
            </div>

          {# Navigation (collapsible) #}
          {# theme suggestion: region__no_wrapper #}
            <div id="navbar-collapse" class="navbar-collapse collapse">
              {{ page.navigation_collapsible }}
            </div>
          {% endif %}

          {# Navigation (supplemental) #}
          {# theme suggestion: region__no_wrapper #}
          {% if page.navigation_supplemental %}
            {{ page.navigation_supplemental }}
          {% endif %}
          {% endblock %}

        </div>
        {% if not navbar_attributes.hasClass(container) %}
      </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

{# Hero/Highlighted #}
{% if page.highlighted or page.hero %}
  {% block hero_highlighted %}
    <div class="hero-highlighted-container full-bleed">
      <div class="{{ container }}">
        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="row">
              {{ page.highlighted }}
            </div>
          {% endblock %}
        {% endif %}

        {# Hero #}
        {% if page.hero %}
          {% block hero %}
            <div class="row">
              {{ page.hero }}
            </div>
          {% endblock %}
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Admin #}
{% if page.help or page.admin_bar or action_links or breadcrumbs %}
  {% block admin %}
    <div class="admin-container">
      <div class="{{ container }}">
        {# Help #}
        {% if page.help %}
          {% block help %}
            <div class="row">
              {{ page.help }}
            </div>
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <div class="row">
              <ul class="action-links">{{ action_links }}</ul>
            </div>
          {% endblock %}
        {% endif %}

        {# Admin Bar #}
        {% if page.admin_bar %}
          {% block admin_bar %}
            <div class="row">
              {{ page.admin_bar }}
            </div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            <div class="row">
              {{ breadcrumb }}
            </div>
          {% endblock %}
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">
    <div class="{{ container }}">
      {# Preface #}
      {% block preface %}
        <div class="row">
          {# Preface First #}
          {% if page.preface_first %}
            {% block preface_first %}
              {{ page.preface_first }}
            {% endblock %}
          {% endif %}

          {# Page Title #}
          {% if page.title %}
            {% block title %}
              {{ page.title }}
            {% endblock %}
          {% endif %}

          {# Preface Second #}
          {% if page.preface_second %}
            {% block preface_second %}
              {{ page.preface_second }}
            {% endblock %}
          {% endif %}
        </div>
      {% endblock %}

      {# Main content #}
      {% block main_content %}
        <div class="row">
          {# Sidebar First #}
          {% if page.sidebar_first %}
            {% block sidebar_first %}
              {{ page.sidebar_first }}
            {% endblock %}
          {% endif %}

          {# Content #}
          {% block content %}
            {% set content_classes = [
              page.sidebar_first and page.sidebar_second ? 'col-sm-6',
              page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
              page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
              page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
            ] %}
            {# content region uses region--no-wrapper.html.twig template and supplies
             the wrapper here instead so that we can dynamically set the cols based
             on sidebar presence. #}
            <section{{ content_attributes.addClass(content_classes, 'region', 'region-content') }}>
              <a id="main-content"></a>
              {{ page.content }}
            </section>
          {% endblock %}

          {# Sidebar Second #}
          {% if page.sidebar_second %}
            {% block sidebar_second %}
              {{ page.sidebar_second }}
            {% endblock %}
          {% endif %}
        </div>
      {% endblock %}

      {# Postscript #}
      {% if page.postscript %}
        {% block postscript %}
          <div class="row">
            {{ page.postscript }}
          </div>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{# Footer #}
{% if page.footer %}
  {% block footer %}
    <footer class="footer footer-container full-bleed" role="contentinfo">
      <div class="{{ container }}">
        <div class="row">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endblock %}
{% endif %}
