{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region wrapper.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% set region_wrapper = region_wrapper ?: 'div' %}
{% set col_classes = col_classes ?: 'col-sm-12' %}

{% if content %}
  <{{ region_wrapper }}{{ attributes.addClass(col_classes).addClass(classes) }}>
    {{ content }}
  </{{ region_wrapper }}>
{% endif %}
