{#
/**
 * @file
 * Theme override for a field.
 *
 * Strip all wrappers/attributes/markup around the field and just print the items.
 * Still prints title, if set to do so.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_classes = [
  'field--label',
  label_display == 'visually_hidden' ? 'sr-only',
] %}


{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ title_wrapper }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
