{#
/**
 * @file
 * Theme override for a datetime field. If a corresponding end date is
 * available, print that with this field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - end_date_items: info from the corresponding end date field.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% set field_wrapper = field_wrapper ?: 'div' %}
{% set field_wrapper_outer = field_wrapper_outer ?: 'div' %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_wrapper_outer = title_wrapper_outer ?: 'div' %}
{% set classes = classes ?: [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
] %}
{% set title_classes = title_classes ?: [
  'field--label',
  label_display == 'visually_hidden' ? 'sr-only',
] %}
{% set item_classes = item_classes ?: [
  'field--item',
] %}

{% if label_hidden %}
  {% if multiple %}
    <{{ field_wrapper_outer }}{{ attributes.addClass(classes, 'field--items') }}>
    {% for item in items %}
      {% if end_date_items is empty %}
        <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</{{ field_wrapper }}>
      {% else %}
        <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>
        <span class="start-date">{{ item.content }}</span> to <span
          class="end-date">{{ end_date_items[loop.index0] }}</span>
        </{{ field_wrapper }}>
      {% endif %}
    {% endfor %}
    </{{ field_wrapper_outer }}>
  {% else %}
    {% for item in items %}
      {% if end_date_items is empty %}
        <{{ field_wrapper }}{{ attributes.addClass(classes, item_classes) }}>{{ item.content }}</{{ field_wrapper }}>
      {% else %}
        <{{ field_wrapper }}{{ attributes.addClass(classes, item_classes) }}>
        <span class="start-date">{{ item.content }}</span> to <span class="end-date">{{ end_date_items[loop.index0] }}</span>
        </{{ field_wrapper }}>
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <{{ title_wrapper_outer }}{{ attributes.addClass(classes) }}>
  <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ title_wrapper }}>
  {% if multiple %}
    <{{ field_wrapper_outer }} class="field__items">
  {% endif %}
  {% for item in items %}
    {% if end_date_items is empty %}
      <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</{{ field_wrapper }}>
    {% else %}
      <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>
      <span class="start-date">{{ item.content }}</span> to <span class="end-date">{{ end_date_items[loop.index0] }}</span>
      </{{ field_wrapper }}>
    {% endif %}
  {% endfor %}
  {% if multiple %}
    </{{ field_wrapper_outer }}>
  {% endif %}
  </{{ title_wrapper_outer }}>
{% endif %}
