{#
/**
 * @file
 * Theme override for a field.
 *
 * This strips field markup from field_paragraphs, which we do not treat as an
 * ordinary field. It's a simple container for paragraph items.
 * TODO: just use field--bare for this.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_classes = [
  'field--label',
  label_display == 'visually_hidden' ? 'sr-only',
] %}


{% if label_hidden %}
  <div class="paragraphs">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
{% else %}
  <div class="paragraphs">
  <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ title_wrapper }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
  </div>
{% endif %}
