{#
/**
 * @file
 * Theme override for a field of comma-separated values.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - separator: Comma, or other character if specified in the theme, unless last item or single item.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% set field_wrapper = field_wrapper ?: 'span' %}
{% set field_wrapper_outer = field_wrapper_outer ?: 'div' %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_wrapper_outer = title_wrapper_outer ?: 'div' %}
{% set separator = separator ?: ', ' %}
{% set classes = classes ?: [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
] %}
{% set title_classes = title_classes ?: [
  'field--label',
  label_display == 'visually_hidden' ? 'sr-only',
] %}
{% set item_classes = item_classes ?: [
  'field--item',
] %}


{% if label_hidden %}
  {% if multiple %}
    <{{ field_wrapper_outer }}{{ attributes.addClass(classes, 'field--items') }}>
    {% for item in items %}
      {% if loop.last %}
        {% set separator = '' %}
      {% endif %}
      <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>{{ item.content }}{{ separator }}</{{ field_wrapper }}>
    {% endfor %}
    </{{ field_wrapper_outer }}>
  {% else %}
    {% set field_wrapper = 'div' %}
    {% set separator = '' %}
    {% for item in items %}
      <{{ field_wrapper }}{{ attributes.addClass(classes, item_classes) }}>{{ item.content }}{{ separator }}</{{ field_wrapper }}>
    {% endfor %}
  {% endif %}
{% else %}
  <{{ title_wrapper_outer }}{{ attributes.addClass(classes) }}>
  <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ title_wrapper }}>
  {% if multiple %}
    <{{ field_wrapper_outer }} class="field__items">
  {% else %}
    {% set field_wrapper = 'div' %}
    {% set separator = '' %}
  {% endif %}
  {% for item in items %}
    {% if loop.last %}
      {% set separator = '' %}
    {% endif %}
    <{{ field_wrapper }}{{ item.attributes.addClass(item_classes) }}>{{ item.content }}{{ separator }}</{{ field_wrapper }}>
  {% endfor %}
  {% if multiple %}
    </{{ field_wrapper_outer }}>
  {% endif %}
  </{{ title_wrapper_outer }}>
{% endif %}
