{#
/**
 * @file
 * Theme override for gridnav implementation.
 *
 * Primarily used to display child pages on landing pages. 'gridnav' as a
 * theme suggestion can be configured in the ui, on a menu block or a display
 * suite field implementation of a menu block.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - img_info: Array containing info on image associated with menu link:
 *     - uri: Image uri.
 *     - url: Image url, publicly accessible.
 *     - path: Image path, internal.
 *     - width: Original image width.
 *     - height: Original image height.
 *     - render: Image render array.
 *     - style: Array with img_info processed by an image style.
 *
 * @see function ma_bootstrap_preprocess_menu().
 *
 * @ingroup templates
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
  <div{{ attributes.addClass('row', 'menu', 'nav', 'gridnav') }}>
    {% for item in items %}

      {# Item wrapper #}
      {% set gridnav_item_classes = gridnav_item_classes ?: [
        'col-md-4',
        'col-sm-6',
        'col-xs-12',
        'gridnav--item-wrapper',
        item.in_active_trail ? 'active',
      ] %}
    <div{{ item.attributes.addClass(gridnav_item_classes) }}>

      {# Link title
      twig will only consider the html safe if it's set in this block syntax. see https://twig.symfony.com/doc/2.x/tags/set.html #}
      {% set gridnav_title_wrapper = gridnav_title_wrapper ?: 'h3' %}
      {% set gridnav_title_classes = gridnav_title_classes ?: [
        'gridnav--item-title',
      ] %}
      {% set link_title %}
        <{{ gridnav_title_wrapper }}{{ create_attribute({'class': gridnav_title_classes}) }}>{{ item.title }}</{{ gridnav_title_wrapper }}>
      {% endset %}

      {# Link classes #}
      {% set link_classes = [
        'thumbnail',
        'text-light',
        item.img_info is empty ? 'no-img',
        item.img_info is empty ? 'bg-dark',
        'gridnav--item-link',
      ] %}

      {# Link style #}
      {% set link_style = [
        item.img_info.style ? 'background-image:url(' ~ item.img_info.style.url ~ ');' : 'background-image:url(' ~ item.img_info.url ~ ');',
        'background-repeat:no-repeat;',
        item.img_info.anchor ? 'background-position:' ~ item.img_info.anchor.x ~ '%,' ~ item.img_info.anchor.y ~ '%;' : 'background-position:50%;',
      ] %}

      {# Link #}
      {{ link(link_title, item.url, {
        'class': link_classes,
        'style': link_style,
      }) }}

      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'gridnav'), menu_level + 1) }}
      {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
