{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 * dropdown: set to true to a dropdown menu. false by default.
 *
 * These variables can be set for the first, second, and third levels of the menu:
 * - classes: an array of classes for on the <ul> element at various levels.
 * - item_classes: an array of classes for each <li> element at various levels.
 * - link_attributes: a hash of attributes for the <a> element of each link at various levels.
 *
 * @ingroup templates
 */
#}
{# Fallback #}
{% set dropdown = dropdown?: false %}
{% set classes = classes ?: [] %}
{% set item_classes = item_classes ?: [] %}
{% set link_attributes = link_attributes ?: {} %}

{# Menu classes for first, second, third levels. #}
{% set classes_first = classes_first ?: [
  'menu',
  'menu--' ~ menu_name|clean_class,
  'nav',
] %}
{% set classes_second = classes_second ?: [] %}
{% set classes_third = classes_third ?: [] %}

{# Menu item classes for first, second, third levels. #}
{% set item_classes_first = item_classes_first ?: [] %}
{% set item_classes_second = item_classes_second ?: [] %}
{% set item_classes_third = item_classes_third ?: [] %}

{# Link attributes for first, second, third levels. #}
{% set link_attributes_first = link_attributes_first ?: {} %}
{% set link_attributes_second = link_attributes_second ?: {} %}
{% set link_attributes_third = link_attributes_grandchilden ?: {} %}

{% macro menu_links(items, attributes, menu_level, classes, classes_first, classes_second, classes_third, item_classes, item_classes_first, item_classes_second, item_classes_third, link_attributes, link_attributes_first, link_attributes_second, link_attributes_third, dropdown) %}
  {% if menu_level == 0 %}
    {% set classes = classes_first %}
    {% set item_classes_static = item_classes_first %}
    {% set link_attributes = link_attributes_first %}
  {% elseif menu_level == 1 %}
    {% set classes = classes_second %}
    {% set item_classes_static = item_classes_second %}
    {% set link_attributes = link_attributes_second %}
  {% elseif menu_level == 2 %}
    {% set classes = classes_third %}
    {% set item_classes_static = item_classes_third %}
    {% set link_attributes = link_attributes_third %}
  {% endif %}
  {% if items %}
    <ul{{ attributes.addClass(classes) }}>
      {% for item in items %}
        {%
          set item_classes = [
          item.is_expanded and item.below ? 'expanded',
          item.is_expanded and menu_level == 0 and item.below and dropdown == true ? 'dropdown',
          item.in_active_trail ? 'active',
        ]|merge(item_classes_static)
        %}
        <li{{ item.attributes.addClass(item_classes) }}>
          {{ link(item.title, item.url, link_attributes) }}
          {% if 'dropdown' in item_classes %}
            <button data-toggle="dropdown" class="dropdown-toggle">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          {% endif %}
        {% if item.below %}
          {{ _self.menu_links(item.below, attributes.removeClass(classes), menu_level + 1, classes, classes_first, classes_second, classes_third, item_classes, item_classes_first, item_classes_second, item_classes_third, link_attributes, link_attributes_first, link_attributes_second, link_attributes_third, dropdown) }}
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{#
  Invoke the custom macro defined above. If classes were provided, use them.
  This allows the template to be extended without having to also duplicate the
  code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ _self.menu_links(items, attributes, 0, classes, classes_first, classes_second, classes_third, item_classes, item_classes_first, item_classes_second, item_classes_third, link_attributes, link_attributes_first, link_attributes_second, link_attributes_third, dropdown) }}

